<!doctype html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" href="../css/intro_game.css">
	<link rel="stylesheet" href="../css/home_page.css">
</head>
<body>
	{{{body}}}
</body>
</html>