<script>let current_page='aboutme'</script>
<script src="../js/intro_game.js"></script>

<div class="aboutMePage">
<h1>About Me</h1>
	Hello! I'm Trysten. I am double majoring in physics and computer science, currently taking the computer science sequence through Oregon State University, and have finished the physics sequence, having already obtained a BSc in Physics with a minor in engineering physics through University of San Francisco.

	This is a mock website I'm building for my web development project. Lots more to fix and clean up, but I'm proud of what I've been able to put together thus far. The skeleton for the nav bar was taken from <i>Eloquent Javascript's Chapter 16: A Platform Game</i>

	<br>
	<br>
	<a href="../img/resume.pdf" download="trysten_hess_resume" target="_blank">Download My Resume Here</a>
	<br>
	<div class="linkedIn">
		<a href="https://www.linkedin.com/in/trystenhess/" target="_blank"><img src="../img/linkedin_logo.png" alt="LinkedIn Logo"></a>
		<div class="linkedInCite">
			<cite style="font-size: x-small">https://freepngimg.com/</cite>
		</div>
	</div>
</div>