<script>
	document.addEventListener('DOMContentLoaded', runScript);

	function runScript(){

		let submit2 = function (event){
	    	let input_data = document.getElementById("postText").value;
	    	let req = new XMLHttpRequest();
	    	req.open("POST", "http://httpbin.org/post");
	    	req.setRequestHeader("Content-Type", "application/json");
	    	req.addEventListener('load',function(){
		      if(req.status >= 200 && req.status < 400){
		        let response = JSON.parse(req.responseText);
		      } else {
		        console.log("Error in network request: " + req.statusText);
		      }});
	    	req.send(JSON.stringify(input_data));
	    }

	    let submit_button2 = document.getElementById("postSubmit");

	    submit_button2.addEventListener("click", submit2);
    }

</script>

<h1>No requests have been made (-:</h1>

<form method="get" action="/request?key1=val1&key2=val2&key3=val3">
	make a get request with this button
	<input type="submit" id="getSubmit">
</form>

<form method="post" action="/request?key1=val1&key2=val2&key3=val3">
	<input type="text" id="postText">
	make a post request with this button
	<input type="submit" id="postSubmit">
</form>