<script>let current_page='projects'</script>
<script src="../js/intro_game.js"></script>

<div class="projects">
	<header>here is a scrollable list of all my projects!</header>

	<ul class="scrollable">
		<li>Project 0</li>
	    <li>Project 1</li>
	    <li>Project 2</li>
	    <li>Project 3</li>
	    <li>Project 4</li>
	    <li>Project 5</li>
	    <li>Project 6</li> 
	    <li>Project 7</li> 
	    <li>Project 8</li>
	    <li>Project 9</li>
	</ul>
</div>